PORT=5000
APP_TIME_ZONE=Asia/Ho_Chi_Minh

DB_HOST=your-railway-mysql-host
DB_PORT=3306
DB_USER=your-database-user
DB_PASSWORD=your-database-password
DB_DATABASE=medpulse_db

MQTT_BROKER_URL=ws://broker.hivemq.com:8000/mqtt
MQTT_ROOT_TOPIC=medpulse_duy
# MQTT_USER=
# MQTT_PASSWORD=

BLE_DEVICE_SEEN_STALE_MS=45000
BLE_ALERT_TIMEOUT_MS=180000
STATION_OFFLINE_TIMEOUT_MS=90000
